alias v='nvim'
alias vi='nvim'
alias vim='nvim'

alias ls='ls -GF'
alias la='ls -A'
alias ll='ls -alF'

alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gl='git log --pretty=oneline'
alias gpom='git push origin master'

alias cfg='cd ~/.config/'
alias lbin='cd ~/.local/bin'
alias vrc='vim ~/.config/nvim/init.lua'
alias zrc='vim ~/.config/zsh/.zshrc'
alias za='vim ~/.config/zsh/.aliases'
alias zre='source ~/.config/zsh/.zshrc'

alias grep='grep --color=auto'


