alias v='vim'

alias ls='ls -GF'
alias la='ls -A'
alias ll='ls -alF'

alias gad='git add .'
alias gcm='git commit -m '
alias gpom='git push origin master'

alias lbin='cd ~/.local/bin'
alias vrc='vim ~/.vimrc'
alias zrc='vim ~/.zshrc'
