alias nb='newsboat'
alias v='vim'
alias la='ls -A'
alias ll='ls -alF'
alias g='cd ~/git && ls'
alias docs='cd ~/Documents && ls'
alias down='cd ~/Downloads && ls'
alias gcm='git commit -m '
alias wp='cd ~/Pictures/wp'
alias lbin='cd ~/.local/bin'
alias vrc='vim ~/.vimrc'
